
</div>
<!-- <div class="footer-padding"></div> -->
  <div class="footer">
    <p><strong>Made with <span class="material-symbols-rounded heart">favorite</span> by <span class="profile"><a href="https://github.com/Akhileshgautam1903">Akhilesh</a></span></strong></p>
  </div>
</div>
</body>
</html>
