<%- include('partials/header'); -%>

    <!-- <h1>About</h1>
    <p> <%= startingContent %> </p> -->

    <div class="content">
        <div class="container">
        <div class="row mb-3 abt-sec">
            <div class="col-sm left-side p-5">
                <h2>About</h2>
                <p>I am <span class="imp">Akhilesh Gautam</span>, a 21-year-old B.Tech graduate from Presidency University. Fuelled by an unwavering enthusiasm and a positive outlook, I have immersed myself in the <span class="imp">world of website design and development</span>. With a strong educational foundation and a passion for creating seamless user interfaces, I channel my creative energy into every project I undertake.</p>
                <p>While coding and design are my professional loves, my heart finds its rhythm <span class="imp">in the pages of books and on the basketball court</span>. The pursuit of knowledge through reading and the exhilarating moments on the court fuel my holistic approach to life and work. I strive to infuse this holistic perspective into every website I design, ensuring a balance between <span class="imp">functionality and aesthetics</span>.</p>
            </div>
            <div class="col-sm right-side p-5">
                <div class="d-flex image"><img class="mx-auto" src="/images/pfp_pic_3.png" alt="pic of me"></div>
                <div class="d-flex justify-content-around mt-5">
                    <a href="https://github.com/Akhileshgautam1903" target="_blank"><i class="fa-brands fa-github"></i></a> |
                    <a href="https://www.linkedin.com/in/akhilesh-gautam-b67575250/" target="_blank"><i class="fa-brands fa-linkedin"></i></a> |
                    <a href="https://www.instagram.com/akhil.e.s.h/?next=%2F" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    

<%- include('partials/footer'); -%>