<%- include('partials/header'); -%>

    <div class="content">
        <h1>Zen Diary</h1>
        <div class="container mt-4">
            <div class="row gap-5">
                <div class="col-sm sec s-1">
                    <h3 class="mb-4">Welcome to Zen Diary: Your Shared Haven of Expression</h3>
                    <p>Discover the profound connection between your words and the hearts of others at Zen Diary. This platform is a refuge for both your thoughts and those of kindred spirits. Embrace the liberating experience of releasing your inner musings and, in turn, touching the lives of those who relate.</p>
                </div>
                <div class="col-sm sec s-2">
                    <h3 class="mb-4">Why Zen Diary?</h3>
                    <p>In a world that often feels fast-paced and isolated, Zen Diary is the bridge that unites us through shared emotions and experiences. Our digital haven invites you to unleash your thoughts into a space where others can find solace in your stories.</p>
                </div>
            </div>
            <div class="sec mt-5 s-3">
                <h3>Embrace the Beauty of Shared Narratives</h3>
                <p>Here, we believe in the power of collective healing. Pen down your thoughts, anecdotes, and reflections, knowing that your words will find resonance in the hearts of those who read them. As you pour out your feelings, you contribute to a symphony of shared human experiences.</p>
            </div>
            <h2 class="mt-5 mb-4 text-center">Let's start with the first step</h2>
            <h2 class="text-center mb-3"><span class="cta"><a href="/new">Write a journal</a></span></h2>
        </div>
    </div>

<%- include('partials/footer'); -%>