<%- include('partials/header'); -%>

<div class="content">
    <div class="sec">
        <h1 class="mb-4"> <%= postTitle %></h1>
        <p> <%= postBody %> </p>
    </div>
</div>
    

<%- include('partials/footer'); -%>